.card-container {
    min-height: 3rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border: 1px solid;
    width: 100%;
    min-width: 10rem;
}
.card-text {
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;


}
.card-text button {
    position: relative;
    width: 100%;
    border: none;
    background: none;
}

.card-color {
    display: inline-block;
    min-height: 3rem;
    width: 5px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.card-title {
    font-weight: bold;
}